In [ ]:
import pickle
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [ ]:
DATA_PATH = "train.csv"

In [ ]:
df = pd.read_csv(DATA_PATH)
df.head(3)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425.0,Doctorate,16.0,Divorced,Exec-managerial,Not-in-family,White,Male,99999.0,0.0,60.0,United-States,1.0
1,17,Private,244602.0,12th,8.0,Never-married,Other-service,Own-child,White,Male,0.0,0.0,15.0,United-States,0.0
2,31,Private,174201.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,1.0

In [ ]:
df.dropna(inplace=True)

In [ ]:
columns_to_drop = ['fnlwgt', 'educational_num', 'workclass', 'race', 'native_country', 'gender']
columns_ = [_.replace('-', '_') for _ in list(df.columns)]
columns = dict(zip(list(df.columns), columns_))
df.rename(columns=columns, inplace=True)

df_new = df.drop(columns=columns_to_drop)

In [ ]:
X_new = df_new.loc[:, df_new.columns[:-1]]
y_new = df_new['income_>50K']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_new, y_new, random_state=42, test_size=0.2)

In [ ]:
filename = 'model.pkl'
loaded_model = pickle.load(open(filename, 'rb'))

In [ ]:
cv_score = cross_val_score(loaded_model, X_test, y_test, cv=3, scoring='f1_weighted')
cv_score.mean()

0.8438164358657817